.header__lang-link {
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
    margin-left: 18px;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    color: #fff;
    transition: opacity .5s linear 0s;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: 30%;
    color: #808080;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}