.photo-grid {
    display: grid;
    gap: 16px;
    margin: 92px auto 0;
}

@media screen and (min-width: 1152px) {
    .photo-grid {
        height: 671px;
        max-width: 1184px;
        width: 100vw;
        grid-template-columns: repeat(4, 284px);
        grid-template-rows: repeat(3, 213px);
    }
}

@media screen and (max-width: 1151px) {
    .photo-grid {
        height: 942px;
        max-width: 928px;
        width: 100vw;
        gap: 14px;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 225px);
    }
}

@media screen and (max-width: 896px) {
    .photo-grid {
        height: 1664px;
        max-width: 720px;
        width: 100vw;
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(6, 264px);
        margin-top: 88px;
    }
}

@media screen and (max-width: 544px) {
    .photo-grid {
        height: 2724px;
        max-width: 288px;
        width: 100vw;
        gap: 12px;
        grid-template-columns: 288px;
        grid-template-rows: repeat(12, 216px);
        margin-top: 64px;
    }
}