.photo-grid {
    display: grid;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .photo-grid {
        max-width: 288px;
        gap: 12px;
        grid-template-columns: 288px;
        grid-template-rows: repeat(12, 216px);
        margin-top: 64px;
    }
}

@media screen and (min-width: 768px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        grid-template-rows: repeat(6, 264px);
        margin-top: 88px;
        gap: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(4, 225px);
        margin-top: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        max-width: 1184px;
        grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
        grid-template-rows: repeat(3, 213px);
        gap: 16px;
    }
}