@media screen and (min-width: 1152px) {
    .place__image {
        max-width: 460px;
        height: 460px;
        width: 100%;
        grid-area: 2 / 1 / 4 / 2;
    }
}

@media screen and (max-width: 1151px) {
    .place__image {
        max-width: 440px;
        height: 440px;
        width: 100%;
        grid-area: 2 / 1 / 4 / 2;
    }
}

@media screen and (max-width: 896px) {
    .place__image {
        max-width: 340px;
        height: 340px;
        width: 100%;
        grid-area: 2 / 1 / 4 / 2;
    }
}

@media screen and (max-width: 544px) {
    .place__image {
        max-width: 320px;
        height: 320px;
        width: 100%;
    }
}