.lead {
    margin: 0 auto;
    top: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 1152px) {
    .lead {
        top: 56px;
        max-width: 984px;
        min-height: 1005px;
        width: 100vw;
    }
}

@media screen and (max-width: 1151px) {
    .lead {
        max-width: 928px;
        min-height: 962px;
        width: 100vw;
    }
}

@media screen and (max-width: 896px) {
    .lead {
        max-width: 768px;
        min-height: 862px;
        width: 100vw;
    }
}

@media screen and (max-width: 544px) {
    .lead {
        max-width: 320px;
        min-height: 406px;
        width: 100vw;
    }
}