@media screen and (min-width: 1152px) {
    .place__text {
        min-height: 345px;
        max-height: 462px;
    }
}

@media screen and (max-width: 1151px) {
    .place__text {
        min-height: 346px;
        max-height: 436px;
    }
}

@media screen (min-width: 896px) {
    .place__text and {
        min-height: 337px;
        max-height: 441px;
    }
}

@media screen and (min-width: 544px) {
    .place__text {
        min-height: 467px;
        max-height: 545px;
    }
}

.place__paragraph:last-child {
    margin-bottom: 0;
}