.place__website-link {
    margin-block-start: 0;
    margin-block-end: 0;
    max-height: 22px;
    max-width: 456px;
    width: 100%;
    color: white;
    transition: opacity .5s linear 0s;
}

.place__website-link:hover {
    opacity: 30%;
    color: #808080;
}