.cover {
    width: 100%;
    margin: 0;
    z-index: 1;
    position: relative;
}

@media screen and (min-width: 320px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
    }
}

@media screen and (min-width: 768px) {
    .cover {
        max-width: 768px;
        margin-top: 90px;
        min-height: 480px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        max-width: 1184px;
        min-height: 740px;
    }
}