.cover__overlay {
    padding: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    position: relative;
    text-decoration: none;
    display: flex;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .cover__overlay {
        max-width: 320px;
        min-height: 200px;
    }
}

@media screen and (min-width: 768px) {
    .cover__overlay {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__overlay {
        max-width: 1184px;
        min-height: 740px;
    }
}

.cover__overlay::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 30%;
    background-color: #2A2C2F;
    transition: opacity .5s linear 0s;
}

.cover__overlay:hover:before {
    content: "";
    opacity: 90%;
    color: #2a2c2f;
}