.cover__title {
    margin-block-start: 0;
    margin-block-end: 0;
    max-height: 152px;
    max-width: 560px;
    width: 100%;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: center;
    position: absolute;
    z-index: 3;
    color: white;
}

@media screen and (min-width: 1152px) {
    .cover__title {
        margin: 245px 312px 343px 312px;
    }
}

@media screen and (max-width: 1151px) {
    .cover__title {
        margin: 195px 232px 293px 232px;
    }
}

@media screen and (max-width: 896px) {
    .cover__title {
        margin: 115px 104px 213px 104px;
    }
}

@media screen and (max-width: 544px) {
    .cover__title {
        margin: 33px 16px 97px 16px;
        max-height: 70px;
        max-width: 288px;
        width: 100%;
        font-size: 32px;
        line-height: 35px;
    }
}