.place__website-url-heading {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    letter-spacing: 0.2%;
    color: #AAAAAA;
}