.intro__title {
    margin-block-start: 0;
    margin-block-end: 0;
    max-height: 58px;
    max-width: 690px;
    width: 100vw;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
}

@media screen and (max-width: 896px) {
    .intro__title {
        max-width: 720px;
        width: 100vw;
    }
}

@media screen and (max-width: 544px) {
    .intro__title {
        max-height: 70px;
        max-width: 288px;
        width: 100vw;
        font-size: 32px;
        line-height: 35px;
    }
}